#posts {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#posts > div {
    background: #FFFFFF;
    margin-bottom: 1rem;
    padding: 3rem;
    text-align: center;
    transition: 0.3s ease all;
    padding-top: 1rem;
}

#posts > div:hover {
    transform: scale(1.1);
}

#posts > div > a {
    background: #FFFFFF;
    text-align: center;
}

.go-home {
    padding-top: 0.3rem;
    text-align: center;
}
