.content > h1 {
    font-weight: bold;
    /* letter-spacing: 0.16rem; */
}

.blog-about {
    font-weight: bold;
    padding: 0.1rem;
    /* letter-spacing: 0.16rem; */
}

#posts {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 639px) {
    .img > img {
        width: 400px;
        height: 300px;
    }

    .content {
        width: 93%;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
    }
}
