.formWraper {
    display: flex;
    justify-content: center;
}

.mainInput {
    border: none;
    width: 287px;
    height: 38px;
    margin-top: 20px;
    transition: 0.2s ease all;
    border: 1px solid #eaecee;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.2);
}

.message {
    border: none;
    width: 287px;
    height: 185px;
    margin-top: 20px;
    transition: 0.2s ease all;
    border: 1px solid #eaecee;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.2);
}


form > input:hover {
    transform: scale(1.1);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding-top: 1rem;
}

.submit > button {
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: #3897D3;
    color: #fff;
    transition: 0.2s ease all;
    padding: 10px 10px;
}

.submit > button:hover {
    background: #1999D9;
    transform: scale(1.1);
    text-decoration: underline;
}
