.projects {
    padding-top: 0.3rem;
    width: 15%;
}

.projects-area > div {
    background-color: #FFFFFF;
    border: 2px solid #F2F2F2;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.2);
}

.projects-area > div > p {
    background-color: #FFFFFF;
    padding-top: 0.3125rem;
}

.projects-area > div > p > a {
    background-color: #FFFFFF;
}

.projects-area > div > h3 > a {
    background-color: #FFFFFF;
}

.projects-area > div > h3 {
    background-color: #FFFFFF;
}

.readMore {
    background-color: #3897D3;
    color: #FFFFFF;
    margin-top: 0.4rem;
    padding: 0.3rem;
}

.readMore:hover {
    color: #FFFFFF;
    transform: scale(1.1);
}

#airconText {
    display: none;
}

#swiftText {
    display: none;
}

#personalWebsiteText {
    display: none;
}

#statusLineText {
    display: none;
}
