.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactButtons {
    display: flex;
    padding-top: 0.3rem;
}

.contactButtons>a:first-child {
    margin-left: 0;
}

.contactButtons>a {
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-left: 0.5rem;
    text-decoration: none;
    background: #3897D3;
    border-radius: 10px;
    padding: 0.5rem;
}

.contactButtons>a:hover {
    color: #333333;
    transform: scale(0.9);
}

.contact>p {
    padding-top: 0.5rem;
}

@media all and (max-width: 1010px) {
    .contact {
        padding: 1rem;
    }

    .contact>h1 {
        font-size: 3rem;
    }

    .contact>p {
        font-size: 1.3rem;
    }

    .contactButtons {
        padding-top: 1.3rem;
        flex-direction: column;
        align-items: center;
    }

    .contactButtons>a {
        padding: 1rem;
        border-radius: 0;
        width: 90%;
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .contactButtons>a:hover {
        color: #333333;
        transform: scale(1);
    }
}
