.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    margin-left: 9rem;
}

.links {
    margin-right: 9rem;
}

.links>a {
    margin-left: 0.5rem;
}

.mobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 9vh;
    right: 0;
    height: 100%;
    width: 100%;
}

.mobileLinks>a {
    margin-top: 2rem;
    font-size: 2rem;
}

@media all and (max-width: 1010px) {
    .image {
        margin-left: 1rem;
    }

    .hamburger {
        margin-right: 1rem;
    }
}
