* {
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #F2F2F2;
}

html,
body {
    position: relative;
    min-height: 125vh;
    padding-bottom: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #3897D3;
}
