/* TODO: Set this with the correct colors to use */
:root {
    /* Light theme variables */
    --color-background-light: #F2F2F2;
    /* Dark theme variables */
    --color-background-dark: #1f2023;
}

.light {
    --color-background: var(--color-background-light);
}

.dark {
    --color-background: var(--color-background-dark);
}

* {
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: var(--color-background);
    overflow-x: hidden;
}

html,
body {
    padding-bottom: 5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #3897D3;
}


@media all and (max-width: 1010px) {
    a:hover {
        color: #333333;
    }
}
