.posts {
    padding-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.content {
    padding-bottom: 3rem;
    padding-left: 5rem;
}

.content > h2 > a {
    font-size: 30px;
}

.more {
    padding-top: 1rem;
}
