.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.image>img {
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.post {
    margin-top: 0.9rem;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 0.9rem;
    transition: 0.3s ease all;
}

.post:hover {
    transform: scale(1.009);
}

.post * {
    text-decoration: none;
    background-color: #FFFFFF;
    transition: 0.3s ease all;
}

.post:hover * {
    color: #3897D3;
}


@media all and (max-width: 1010px) {
    .mobile {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mobile>h1 {
        font-size: 3rem;
    }
}
